/*======= FONTS =======*/

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("robotolight"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("robotoregular"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("robotobold"),
       url("../fonts/Roboto-Bold.woff") format("woff"),
       url("../fonts/Roboto-Bold.woff2") format("woff");
}
/*======= /FONTS =======*/




html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #464646;
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  position: relative;
  width: 100%;
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: currentColor;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 27%;
  height: 3px;
  background: #5aa746;
  -webkit-box-shadow: 0 1px 1px 0px #000;
          box-shadow: 0 1px 1px 0px #000;
  opacity: 0.4;
}

.title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 27%;
  height: 3px;
  background: #5aa746;
  -webkit-box-shadow: 0 1px 1px 0px #000;
          box-shadow: 0 1px 1px 0px #000;
  opacity: 0.4;
}

/*======= HEADER =======*/

.page-header {
  position: relative;
  padding-top: 20px;
  background: #f3f3f3;
}

.page-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.phone {
  width: 35%;
  -ms-flex-item-align: center;
      align-self: center;
}

.phone-desc {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
}

.phone-number {
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:focus {
  font-weight: 700;
  color: #5aa746;
}

.logo {
  width: 30%;
  text-align: center;
}

.common-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  list-style: none;
}

.common-menu-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.common-menu-item a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.common-menu-item a:hover,
.common-menu-item a:focus {
  color: #5aa746;
  text-decoration: underline;
}

.common-menu-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-nav {
  position: absolute;
  top: 101px;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: #f3f3f3;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  background: rgba(243, 243, 243, 0.8);
  z-index: 11;
  -webkit-box-shadow: 0 2px 12px 2px;
          box-shadow: 0 2px 12px 2px;
}
/*  стрелки вверх
.nav-fixed::before {
  content: "";
  position: absolute;
  bottom: 22px;
  right: 10px;
  width: 25px;
  height: 7px;
  background: #fed11a;
  box-shadow: -11px -14px 0px 0px #ffffff;
  transform: rotate(40deg);
}

.nav-fixed::after {
  content: "";
  position: absolute;
  bottom: 22px;
  right: 25px;
  width: 25px;
  height: 7px;
  background: #fed11a;
  transform: rotate(-39deg);
  box-shadow: 12px -14px 0px 0px #ffffff;
} */

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.main-nav-item {
  width: 14%;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  text-transform: uppercase;
  border-right: 1px solid #5aa746;
}

.main-nav-item:last-child {
  border-right: none;
}

.main-nav-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  font: inherit;
  color: inherit;
  text-decoration: none;
}


.main-nav-link:hover,
.main-nav-link:focus {
  background: #5aa746; 
  color: #ffcf13;
}

.main-nav-link:active {
  background: #5aa746; 
  color: rgba(255, 207, 19, 0.5);
}


/*======= CAPTION =======*/

.caption {
  width: 100%;
  height: calc(100vh - 101px);
  padding: 85px 0 20px;
  background: #d6e4f1 url("../img/caption.jpg");
  background-size: cover;
  background-position-y: 33%;
}

.caption-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.caption-name {
  width: 100%;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
  color: #f3f3f3;
  text-shadow: 1px 1px 2px black;
}

.slogan {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 19% auto auto;
}

.slogan-1 {
  display: block;
  width: 43%;
  padding: 0 5px 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: right;
  color: #fed11a;
  text-transform: uppercase;
  text-shadow: -1px -1px black,
  0 1px 0 grey;
  background: #2f4f4f;
}

.slogan-2 {
  display: block;
  width: 126px;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  text-shadow: -1px -1px black,
  0 1px 0 grey;
  background: transparent;
}

.slogan-3 {
  padding: 0 5px 0 15px;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #2f4f4f ;
  text-transform: uppercase;
  text-shadow: -1px -1px black,
  0 1px 0 yellow;
  background: #fed11a;
  display: block;
    width: 43%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
    text-align: left;
    -ms-flex-item-align: end;
        align-self: end;
}

.btn {
  position: relative;
  display: block;
  width: 360px;
  padding: 20px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #5aa746;
  -webkit-box-shadow: 0 0px 2px 5px;
          box-shadow: 0 0px 2px 5px;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  color: rgba(255, 255, 0, 0.8);
}

.btn::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 6px;
  width: 30px;
  height: 30px;
  background: url("../img/bicycle.svg") no-repeat 100%;
  background-size: cover;
}

.btn:hover::before,
.btn:focus::before {
  left: calc(100% - 50px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:active {
  color: rgba(18, 37, 13, 0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0 0 5px 6px;
          box-shadow: inset 0 0 5px 6px;
}

.btn:active::before {
  display: none;
}

.caption-btn {
  position: relative;
  width: 60px;
  min-height: 30px;
  margin: 13px 0;
}

.caption-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 11px;
  background: #fed11a;
  /* box-shadow: 16px 18px 0px 0px #ffffff; */
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-animation: 5s infinite ease-out;
          animation: 5s infinite ease-out;
  -webkit-animation-name: arrow2;
          animation-name: arrow2;
}

.caption-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 40px;
  height: 12px;
  background: #fed11a;
  -webkit-transform: rotate(-39deg);
          transform: rotate(-39deg);
  /* box-shadow: -13px 18px 0px 0px #ffffff; */
  -webkit-animation: 5s infinite ease-out;
          animation: 5s infinite ease-out;
  -webkit-animation-name: arrow1;
          animation-name: arrow1;
}

.caption-btn:hover::before,
.caption-btn:hover::after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes arrow1{

  0 {}

  50% {
    background: #ffffff;
    -webkit-box-shadow: -13px 18px 0px 0px #fed11a;
            box-shadow: -13px 18px 0px 0px #fed11a;
  }

  100% {
    background: #fed11a;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes arrow1{

  0 {}

  50% {
    background: #ffffff;
    -webkit-box-shadow: -13px 18px 0px 0px #fed11a;
            box-shadow: -13px 18px 0px 0px #fed11a;
  }

  100% {
    background: #fed11a;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes arrow2{
  
    0 {}
  
    50% {
      background: #ffffff;
      -webkit-box-shadow: 16px 18px 0px 0px #fed11a;
              box-shadow: 16px 18px 0px 0px #fed11a;
    }
  
    100% {
      background: #fed11a;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

@keyframes arrow2{
  
    0 {}
  
    50% {
      background: #ffffff;
      -webkit-box-shadow: 16px 18px 0px 0px #fed11a;
              box-shadow: 16px 18px 0px 0px #fed11a;
    }
  
    100% {
      background: #fed11a;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }


/*======= BALANCEBIKE =======*/

.balancebike {
  padding: 60px 0;
}

.balancebike-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.balancebike-title {
  margin-bottom: 50px;
}

.balancebike-foto {
  width: 40%;
}

.balancebike-img img {
  display: block;
  border: 6px solid #2f4f4f;
  border-radius: 6px;
}

.advance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding-left: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adance-subtitle {
  width: 100%;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
}

.advance-list {
  width: 100%;
  margin: 0;
}

.advance-text {
  font-size: 18px;
  font-weight: 300;
}

.advance-text strong {
  font-weight: 400;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0 0;
}

.gallery-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  background: #fed11a;
  border: 6px solid #fed11a;
  border-radius: 25px;
  cursor: pointer;
}

.gallery-slide:hover,
.slick-current {
  color: #fed11a;
  background: #2f4f4f;
  border-color: #2f4f4f;
}

.gallery-slide img {
  display: block;
  margin: auto;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  outline: none;
}

.gallery-slide b {
  display: block;
  padding: 15px 0 0;
  font-size: 16px;
  line-height: 1;
  font-style: italic;
  color: inherit;
  text-align: center;
}

.gallery-slide b::before {
  content: "";
  position: absolute;
  top: 44%;
  right: -6px;
  width: 18px;
  height: 5px;
  background: #fed11a;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  z-index: 3;
}

.gallery-slide b::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  width: 18px;
  height: 5px;
  background: #fed11a;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  z-index: 3;
}


.gallery-slide:last-child b::after,
.gallery-slide:last-child b::before {
  display: none;
}

.gallery-slide .slick-slide .slick-active {
  width: 120px !important;
}


/*======= PROGGRAM =======*/

.proggram {
  padding: 85px 0;
  background: url("../img/layer 0.jpg") repeat;
  background-size: cover;
}

.proggram-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("../img/proggram1.jpg") no-repeat 0 17%;
}

.proggram-text {
  width: 100%;
  padding-left: 462px;
  font-size: 20px;
  line-height: 1.6;
}

.proggram-text strong {
  color: #5aa746;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

/*======= FEATURES =======*/

.features {
  padding: 70px 0 50px;
  background: #fff8dc;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 30%;
  margin-right: 2%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 120px 10px 10px;

}

.features-item:last-child {
  margin-right: 0;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 100px;
  height: 100px;
  border: 6px solid #5aa746;
  border-radius: 50%;
  background: transparent url("../img/ballet-pose.svg") no-repeat;
  background-size: 70px 70px;
  background-position: 50% ;
}

.features-item:nth-child(2)::before {
  background-image: url("../img/boots.svg");
} 

.features-item:nth-child(3)::before {
  background-image: url("../img/idea.svg");
} 

.features-item:nth-child(4)::before {
  background-image: url("../img/partners-claping-hands.svg");
} 

.features-item:nth-child(5)::before {
  background-image: url("../img/sports-cup.svg");
} 

.features-item:nth-child(6)::before {
  background-image: url("../img/boy-broad-smile.svg");
} 

/*======= AGE =======*/

.age {
  padding: 50px 0 0;
  background: url("../img/layer 0.jpg") repeat;
}

.age-text {
  position: relative;
  display: block;
  width: 100%;
  min-height: 330px;
  padding-left: 50%;
  padding-top: 150px;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  
}

.age-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 120px 5px;
  border: 5px solid yellowgreen;
  border-width: 5px 5px 25px 25px; 
  background: url("../img/age-boy.jpg") no-repeat;
  background-position: center;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
}

.age-text:last-child {
  padding-left: 0;
  padding-right: 50%;
  margin-bottom: 35px;
}

.age-text:last-child::before {
  background: url("../img/age-gerl.jpg") no-repeat;
  left: 50%;
}

.age-inner {
  padding: 50px 0;
  background: #c1f0c1;
}

/* .age-subtitle {
  font-size: 28px;
  margin-bottom: 0;
  line-height: 1.1;
  font-weight: 700;
} */

.age-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.age-item {
  width: 30%;
  margin-right: auto;
  text-align: center;
}

.age-item:last-child {
  margin-right: 0;
}

.age-item strong {
  font-size: 22px;
  font-weight: 300;
  text-shadow: 1px 0px 1px black;
}

.age-item-desc {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.age-foto {
  margin-bottom: 25px;
}

.age-foto img {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
} 

.age-foto img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}


/*======= SLIDER-SEASONS =======*/

.slider-seasons {
  position: relative;
  width: 100%;
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.slider-seasons-slide {
  display: none;
  width: 100%;
  min-height: 500px;
  padding: 30px 0 50px;
  background-color: #0D1F0C;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-seasons-slide:nth-child(1) {
  background-image: url("../img/summer.jpg");
  background-position-y: 30%;
}

.slider-seasons-slide:nth-child(2) {
  background-image: url("../img/autumn.jpg");
  background-position-y: 8%;
}

.slider-seasons-slide:nth-child(3) {
  background-image: url("../img/winter.jpg");
  background-position-y: 8%;
}

.slider-seasons-slide:nth-child(4) {
  background-image: url("../img/spring.jpg");
  background-position-y: 30%;
}

.slider-seasons-slide:nth-child(n+2) {
  display: none;
}

.slider-seasons-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.slider-seasons-title {
  width: 100%;
  margin: 0 0 auto;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: wheat;
  text-shadow: 5px -1px 0px black;
}

.prev::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 0;
  width: 0px;
  height: 0;
  background: transparent;
  border: solid 30px;
  border-color: transparent #fed11a transparent transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.next::after {
  content: "";
  position: absolute;
  top: 52%;
  right: 0;
  width: 0px;
  height: 0;
  background: transparent;
  border: solid 30px;
  border-color: transparent transparent transparent #fed11a;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

#btn-1:checked ~ .slider-seasons-group .slider-seasons-slide:nth-child(1),
#btn-2:checked ~ .slider-seasons-group .slider-seasons-slide:nth-child(2),
#btn-3:checked ~ .slider-seasons-group .slider-seasons-slide:nth-child(3),
#btn-4:checked ~ .slider-seasons-group .slider-seasons-slide:nth-child(4) {
  display: block;
  -webkit-animation: scroll 1s linear;
          animation: scroll 1s linear;
}

@-webkit-keyframes scroll {
	0% { 
    opacity: 0.6;
  }

	100% { 
    opacity: 1;
  }
}

@keyframes scroll {
	0% { 
    opacity: 0.6;
  }

	100% { 
    opacity: 1;
  }
}

/*======= TRAINING =======*/

 .training { 
  width: 100%;
  padding: 50px 0;
  background: url("../img/layer 0.jpg") repeat-x;
}

.training-inner {
  width: 100%;
  background: url("../img/training.jpg") no-repeat 100% 0;
}

.training-list {
  margin: 0;
  padding: 55px 0 55px 6.3%; /* 70px / 1120px */
  list-style: none;
}

.training-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 20px;
  color: #000000;
}

.training-item::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #5aa746;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.training-item:last-child::before {
  background: rgb(255, 0, 0);
}

.training-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  margin-top: 10px;
  width: 2px;
  height: 37px;
  background: #ffd700;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}


/*======= PROTECTION =======*/

.protection {
  padding: 70px 0 50px;
  background: #fff8dc;
}

.protection-title {
  margin-top: 0;
}

.protection-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.protection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  min-height: 144px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.protection-item img {
  display: block;
  margin-bottom: 20px;
}

.protextion-label {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.protection-item b {
  color: #ff0000;
}


.protection-item i {
  color: #ff8c00;
}

.protection-fn {
  width: 100%;
  font-size: 12px;
}

.protection-fn sup {
  color: #ff0000;
}


/*======= PAYMENT =======*/

.payment {
  padding: 70px 0 70px;
}

.payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 75px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.payment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  min-height: 163px;
  padding: 43px 30px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  border-radius: 30%;
  border: 5px solid rgb(34, 139, 34);
  border-right: none;
  border-left: none;
  border-top-color: rgb(154, 205, 50);
  -webkit-animation: border 10s ease-in-out;
          animation: border 10s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.payment-item span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

.payment-item-price {
  font-weight: 700;
  margin-top: 10px;
}

@-webkit-keyframes border {

  0 {}

  50% {
    border-top-color: rgb(34, 139, 34);
    border-bottom-color: rgb(154, 205, 50);
  }

  100% {
    border-top-color: rgb(154, 205, 50);
    border-bottom-color: rgb(34, 139, 34);
  }
}

@keyframes border {

  0 {}

  50% {
    border-top-color: rgb(34, 139, 34);
    border-bottom-color: rgb(154, 205, 50);
  }

  100% {
    border-top-color: rgb(154, 205, 50);
    border-bottom-color: rgb(34, 139, 34);
  }
}


/*======= SIGN-UP =======*/

.sign-up {
  padding: 70px 0 70px;
  background-color: rgba(13, 31, 12, 0.9);;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  background-blend-mode: luminosity;
}

.sign-up-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 43%;
  margin: auto;
  padding: 30px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  background: rgba(70, 70, 70, 0.7);
  -webkit-box-shadow: 0px 1px 10px 5px rgba(255, 140, 0, 0.45);
          box-shadow: 0px 1px 10px 5px rgba(255, 140, 0, 0.45);
}

.sign-up-subtitle {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}

.sign-up-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sign-up-text {
  width: 45%;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 2px 1px 1px black;
}

.sign-up-link {
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  color: #3fd219;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

.sign-up-link:hover,
.sign-up-link:focus {
  outline: 3px double #3fd219;
}

.sign-up-link:active {
  opacity: 0.5;
}

.sign-up-place {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #ffffff;
  border-top: 1px solid #9acd32;
  text-shadow: -1px 2px #000000;
}

.sign-up-place a {
  color: #fed11a;
  text-decoration: none;
}

.sign-up-place a:hover,
.sign-up-place a:focus {
  text-decoration: underline;
  text-shadow: none;
}

.sign-up-place a:active {
  opacity: 0.5;
  text-decoration: none;
}

/*======= MAP =======*/

.map-container {
  width: 100%;
  height: 450px;
  background: gray url("../img/map.jpg") no-repeat;
  background-size: contain;
  background-position: 50%;
}

/*======= FOOTER =======*/

.page-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.social {
  width: 35%;
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: center;
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
} 

.social-wrapper a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #464646;
  border: 2px solid #3fd219;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.social-wrapper a:hover,
.social-wrapper a:focus {
  background-color: #9acd32;
  border-color: #464646;
}

.social-wrapper a:active {
  opacity: 0.3;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 26px;
  height: 30px;
  background-repeat: no-repeat;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.social-link-vk::before {
  background-image: url("../img/vk.svg");
}

.social-link-fb {
  margin-top: 30px;
  margin-left: -10px;
}

.social-link-fb::before {
  background-image: url("../img/facebook.svg");
}

.social-link-inst::before {
  top: 5px;
  left: 7px;
  background-image: url("../img/instagram.svg");
}

.social-link-inst {
  margin-left: -10px;
}

.common-menu-footer {
  width: 15%;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
