/*======= FONTS =======*/

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("robotolight"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("robotoregular"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("robotobold"),
       url("../fonts/Roboto-Bold.woff") format("woff"),
       url("../fonts/Roboto-Bold.woff2") format("woff");
}
/*======= /FONTS =======*/




html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #464646;
  background-color: #e1ecec;
}

img {
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  position: relative;
  width: 100%;
  margin: 0 0 50px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #192964;
  overflow: hidden;
}

.title-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px;
}

.title::before,
.title::after {
  content: "";
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background: #ee7601;
  box-shadow: 0 1px 4px 0px #2c4296;
  z-index: -1;
}

.title::before {
  margin-left: -100%;
}

.title::after {
  margin-right: -100%;
}


/*======= HEADER =======*/

.page-header {
  position: relative;
  padding-top: 20px;
}

.page-header-wrapper {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
}

.logo {
  width: 30%;
}

.logo img {
  width: 150px;
  height: 85px;
}

.common-menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  justify-content: flex-end;
  list-style: none;
}

.common-menu-item {
  width: 15%;
  margin: 10px 0 10px 15px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.common-menu-item a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.common-menu-item a:hover,
.common-menu-item a:focus {
  color: #00a1a1;
  text-decoration: underline;
}

.common-menu-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-nav {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background: #e1ecec;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  background: rgba(243, 243, 243, 0.8);
  box-shadow: 0 2px 12px 2px;
  z-index: 11;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  display: flex;
  width: 14%;
  margin-bottom: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  text-transform: uppercase;
  border-right: 1px solid #40e0d0;
}

.main-nav-item:last-child {
  border-right: none;
}

.main-nav-link {
  display: block;
  width: 100%;
  padding: 5px;
  font: inherit;
  color: inherit;
  text-decoration: none;
}


.main-nav-item:hover,
.main-nav-item:focus {
  background: #00A1A1;
  color: #162352;
}

.main-nav-item:active {
  background: #00A1A1;
  color: rgba(22, 35, 82, 0.5);;
}


/*======= CAPTION =======*/

.caption {
  width: 100%;
  height: 100vh;
  padding: 85px 0 20px;
  background-color: #707f40;
  background-image: url("../img/caption.jpg");
  background-size: cover;
  background-position-y: 60%;
}

.caption-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.caption-name {
  width: 100%;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
  color: #f3f3f3;
  text-shadow: 1px 1px 2px black;
}

.slogan {
  display: flex;
  width: 100%;
  min-height: 430px;
  align-items: center;
}

.slogan-text {
  display: flex;
  width: 100%;
}

.slogan-1 {
  display: block;
  width: 43%;
  padding: 0 5px 0 15px;
  flex-grow: 1;
  align-self: end;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: right;
  color: #fed11a;
  text-transform: uppercase;
  text-shadow: -1px -1px black, 0 1px 0 grey;
  background: #2f4f4f;
}

.slogan-2 {
  display: block;
  width: auto;
  padding: 0;
  padding-left: 0.2em;
  align-self: end;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  text-shadow: -1px -1px black,
  0 1px 0 grey;
  background: transparent;
}

.slogan-3 {
  display: block;
  width: 43%;
  flex-grow: 1;
  align-self: end;
  padding: 0 5px 0 15px;
  font-size: 56px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
  color: #2f4f4f;
  text-shadow: -1px -1px black, 0 1px 0 yellow;
  background: #fed11a;
}

.caption-footer {
  position: relative;
  width: 100%;
  margin-bottom: 155px;
  align-self: flex-end;
}

.btn {
  position: relative;
  display: block;
  width: 420px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(0, 161, 161, 0.6);
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  color: #ee7601;
  background: rgba(0, 161, 161, 1);
}

.btn::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/bicycle.svg") no-repeat 100%;
  background-size: cover;
}

.btn:hover::before,
.btn:focus::before {
  left: calc(100% - 39px);
  transition: 0.5s ease;
}

.btn:active {
  color: rgba(23, 2, 2, 0.74);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  box-shadow: inset 0 0 5px 5px;
}

.btn:active::before {
  display: none;
}

.caption-btn {
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 60px;
  transform: translate(-50%);
}

.caption-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 11px;
  background: #ee7601;
  transform: rotate(40deg);
  animation: 5s infinite ease-out;
  animation-name: arrow2;
}

.caption-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 40px;
  height: 12px;
  background: #ee7601;
  transform: rotate(-39deg);
  animation: 5s infinite ease-out;
  animation-name: arrow1;
}

.caption-btn:hover::before,
.caption-btn:hover::after {
  animation-play-state: paused;
}

@keyframes arrow1 {

  50% {
    background: #ffffff;
    box-shadow: -13px 18px 0px 0px #ee7601;
  }

  100% {
    background: #ee7601;
    box-shadow: none;
  }
}

@keyframes arrow2 {

    50% {
      background: #ffffff;
      box-shadow: 16px 18px 0px 0px #ee7601;
    }

    100% {
      background: #ee7601;
      box-shadow: none;
    }
  }


/*======= BALANCEBIKE =======*/

.balancebike {
  padding: 60px 0;
}

.balancebike-inner {
  display: flex;
  flex-wrap: wrap;
}

.balancebike-title {
  margin-bottom: 50px;
}

.balancebike-foto {
  width: 40%;
}

.nojs .balancebike-img:not(:first-child) {
  display: none;
}

.balancebike-img img {
  display: block;
  border: 6px solid  #192964;
  border-radius: 6px;
}

.advance {
  display: flex;
  width: 60%;
  padding-left: 15px;
  flex-wrap: wrap;
}

.adance-subtitle {
  width: 100%;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
}

.advance-list {
  width: 100%;
  margin: 0;
}

.advance-text {
  font-size: 20px;
  font-weight: 300;
}

.advance-text strong {
  font-weight: 400;
}

.gallery {
  position: relative;
  display: flex;
  width: 100%;
  margin: 20px 0 0;
}

.gallery-slide {
  position: relative;
  display: flex;
  width: 136px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  color:  #192964;
  background: #ee7601;
  border: 6px solid #ee7601;
  border-radius: 25px;
  cursor: pointer;
}

.gallery-slide:hover,
.gallery-slide:focus,
.slick-current {
  color: #ee7601;
  background: #192964;
  border-color: #192964;
  outline: none;
}

.gallery-slide img {
  display: block;
  margin: auto;
  object-fit: cover;
  transition: background 0.3s;
  outline: none;
}

.gallery-slide b {
  display: block;
  padding: 15px 0 0;
  font-size: 16px;
  line-height: 1;
  font-style: italic;
  color: inherit;
  text-align: center;
}

.gallery-slide b::before {
  content: "";
  position: absolute;
  top: 44%;
  right: -6px;
  width: 18px;
  height: 5px;
  background: #192964;
  transform: rotate(40deg);
  z-index: 3;
}

.gallery-slide b::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  width: 18px;
  height: 5px;
  background: #192964;
  transform: rotate(-41deg);
  z-index: 3;
}


.gallery-slide:last-child b::after,
.gallery-slide:last-child b::before {
  display: none;
}


/*======= PROGGRAM =======*/

.proggram {
  padding: 85px 0;
  background: url("../img/pattern.png") repeat;
}

.proggram-inner {
  display: flex;
  flex-wrap: wrap;
  background: url("../img/proggram1.jpg") no-repeat 0 17%;
}

.proggram-text {
  width: 100%;
  padding-left: 462px;
  font-size: 20px;
  line-height: 1.6;
}

.proggram-text strong {
  color: #00a1a1;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

/*======= FEATURES =======*/

.features {
  padding: 70px 0;
}

.features-title {
  margin-bottom: 70px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 30%;
  margin-right: 2%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding: 150px 10px 10px;

}

.features-item:last-child {
  margin-right: 0;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 120px;
  height: 120px;
  border: 6px solid #00a1a1;
  border-radius: 50%;
  background: transparent url("../img/ballet-pose.svg") no-repeat;
  background-size: 70px 70px;
  background-position: 50% ;
}

.features-item:nth-child(2)::before {
  background-image: url("../img/boots.svg");
}

.features-item:nth-child(3)::before {
  background-image: url("../img/idea.svg");
}

.features-item:nth-child(4)::before {
  background-image: url("../img/partners-claping-hands.svg");
}

.features-item:nth-child(5)::before {
  background-image: url("../img/sports-cup.svg");
}

.features-item:nth-child(6)::before {
  background-image: url("../img/boy-broad-smile.svg");
}

/*======= AGE =======*/

.age {
  padding: 50px 0 0;
  background: url("../img/pattern.png") repeat;
}

.age-text {
  position: relative;
  display: block;
  width: 100%;
  min-height: 330px;
  padding-left: 50%;
  padding-top: 80px;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
}

.age-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 120px 5px;
  border: 5px solid #00a1a1;
  border-width: 5px 5px 25px 25px;
  background-image: url("../img/gerl+boy.jpg"), url("../img/boy.jpg"), url("../img/gerl.jpg"), url("../img/boy-2.jpg"), url("../img/gerl-2.jpg"), url("../img/gerl+boy-1.jpg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  transform: skew(-7deg);
  animation: foto 20s ease;
  animation-iteration-count: infinite;
}

@keyframes foto {

  0% {
    background-position-x: 0, 600px, 1200px, 1800px, 2400px, 3000px;
  }

  20% {
    background-position-x: -600px, 0, 600px, 1200px, 1800px, 2400px;
  }

  40% {
    background-position-x: -1200px, -600px, 0, 600px, 1200px, 1800px;
  }

  60% {
    background-position-x: -1800px, -1200px, -600px, 0, 600px, 1200px;
  }

  80% {
    background-position-x: -2400px, -1800px, -1200px, -600px, 0, 600px;
  }

  100% {
    background-position-x: -3000px, -2400px, -1800px, -1200px, -600px, 0;
  }
}

.age-text:last-child {
  padding-left: 0;
  padding-right: 50%;
  margin-bottom: 35px;
  margin-top: 20px;
}

.age-text:last-child::before {
  left: 50%;
  animation: none;
  background-image: url("../img/velo.jpg");
}

.age-inner {
  padding: 50px 0;
  background: #c1f0c1;
}

.age-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.age-item {
  width: 30%;
  margin-right: auto;
  text-align: center;
}

.age-item:last-child {
  margin-right: 0;
}

.age-item strong {
  font-size: 22px;
  font-weight: 300;
  text-shadow: 1px 0px 1px black;
}

.age-item-desc {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.age-foto {
  margin-bottom: 25px;
}

.age-foto img {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  object-fit: cover;
  object-position: 0 50px;
  transition: 0.7s;
  cursor: pointer;
}

.age-foto img:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: scale(1.2);
  object-position: 0;
  border: 5px solid #ee7601;
}


/*======= SEASONS =======*/

.seasons {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.seasons-wrapper {
  width: 25%;
}

.seasons-wrapper .seasons-foto {
  height: 100%
}

.seasons-inner {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  background: #ee7601;
}

.seasons-foto img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seasons-inner .seasons-foto {
  width: 50%;

}

.seasons-title {
  width: 100%;
  margin: auto 0;
  padding: 20px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #192964;
  text-shadow: -1px -1px #1b1c1f, 0 1px 0 #da7819;

}

.seasons-btn {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: none;
  width: 290px;
  font-size: 14px;
}


/*======= TRAINING =======*/

 .training {
  width: 100%;
  padding: 50px 0;
  background: url("../img/pattern.png") repeat;
}

.training-inner {
  width: 100%;
  background-image: url("../img/training.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.training-list {
  margin: 0;
  padding: 55px 0 55px 6.3%; /* 70px / 1120px */
  list-style: none;
}

.training-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 20px;
  color: #000000;
}

.training-item::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #5aa746;
  transition: all .2s ease;
  z-index: 2;
}

.training-item:last-child::before {
  background: rgb(255, 0, 0);
}

.training-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  margin-top: 10px;
  width: 2px;
  height: 37px;
  background: #ffd700;
  transition: all .2s ease;
}


/*======= PROTECTION =======*/

.protection {
  padding: 70px 0 50px;
  background: #c1f0c1;
}

.protection-title {
  margin-top: 0;
}

.protection-list {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.protection-item {
  display: flex;
  width: 15%;
  min-height: 144px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.protection-item img {
  display: block;
  margin-bottom: 20px;
}

.protextion-label {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.protection-item b {
  color: #ff0000;
}


.protection-item i {
  color: #ff8c00;
}

.protection-fn {
  width: 100%;
  font-size: 12px;
}

.protection-fn sup {
  color: #ff0000;
}


/*======= PAYMENT =======*/

.payment {
  padding: 100px 0;
}

.payment-list {
  display: flex;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.payment-item {
  display: flex;
  width: 20%;
  min-height: 163px;
  padding: 43px 30px;
  margin: auto;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  border-radius: 30%;
  border: 5px solid #2c4296;
  border-right: none;
  border-left: none;
  border-top-color: #ee7601;
  animation: border 10s ease-in-out;
  animation-iteration-count: infinite;
  box-shadow: 5px 13px 11px -11px;
}

.payment-item span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

.payment-item-price {
  font-weight: 700;
  margin-top: 10px;
}

@keyframes border {

  50% {
    border-top-color: #2c4296;
    border-bottom-color: #ee7601;
  }

  100% {
    border-top-color: #ee7601;
    border-bottom-color: #2c4296;
  }
}


/*======= SIGN-UP =======*/

.sign-up {
  padding: 70px 0 70px;
  background-color: rgba(13, 31, 12, 0.9);;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  background-blend-mode: luminosity;
  background-attachment: fixed;
}

.sign-up-wrapper {
  display: flex;
  width: 43%;
  margin: auto;
  padding: 30px 20px;
  flex-wrap: wrap;
  color: #ffffff;
  background: rgba(70, 70, 70, 0.7);
  box-shadow: 0px 1px 10px 5px rgba(238, 118, 1, 0.6);
  border-radius: 3px;
}

.sign-up-subtitle {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}

.sign-up-inner {
  display: flex;
  width: 100%;
}

.sign-up-text {
  width: 45%;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 2px 1px 1px black;
}

.sign-up-link {
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  color: #00fdff;
  text-decoration: none;
  text-shadow: 1px 1px 5px #2c4296;
}

.sign-up-link:hover,
.sign-up-link:focus {
  outline: 3px double #ee7601;
}

.sign-up-link:active {
  opacity: 0.5;
}

.sign-up-place {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #ffffff;
  border-top: 1px solid #00a1a1;
  text-shadow: -1px 2px #000000;
}

.sign-up-place a {
  color: #faff36;
  text-decoration: none;
}

.sign-up-place a:hover,
.sign-up-place a:focus {
  text-decoration: underline;
  text-shadow: none;
}

.sign-up-place a:active {
  opacity: 0.5;
  text-decoration: none;
}

/*======= MAP =======*/

.map-container {
  width: 100%;
  height: 450px;
  background-color: gray;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

/*======= FOOTER =======*/

.page-footer-wrapper {
  display: flex;
  padding: 25px 0;
  align-items: center;
}

.page-footer .logo-link:hover img {
  transition: 1s ease-in;
  transform: rotate(360deg);
}

.social {
  width: 35%;
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: center;
}

.social-title {
  margin: 0;
  font-size: 20px;
  color: #464646;
}

.social-wrapper {
  display: flex;
  justify-content: center;
}

.social-wrapper a {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 40px;
  background-color: #464646;
  border: 2px solid #00a1a1;
  transform: rotate(45deg);
}

.social-wrapper a:hover,
.social-wrapper a:focus {
  background-color: #00a1a1;
  border-color: #464646;
}

.social-wrapper a:active {
  opacity: 0.3;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 26px;
  height: 30px;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  z-index: 2;
}

.social-link-vk::before {
  background-image: url("../img/vk.svg");
}

.social-link-fb::before {
  background-image: url("../img/facebook.svg");
}

.social-link-inst::before {
  top: 6px;
  left: 10px;
  background-image: url("../img/instagram.svg");
}

.social-link-inst {
  margin-left: -10px;
}

.common-menu-footer {
  width: 15%;
  padding: 0;
  justify-content: flex-end;
}


/*======= TABLET SCREEN =======*/

@media (max-width: 1160px) and (min-width: 700px) {
  .container {
    width: 94%;
  }

  .common-menu-item {
    font-size: 16px;
  }

  .main-nav-item {
    width: 20%;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .caption {
    height: calc(100vh - 75px);
    padding-top: 100px;
  }

  .caption-name {
    padding-top: 30px;
  }

  .slogan span {
    font-size: 36px;
    line-height: 40px;
  }

  .btn {
    width: 45%;
    font-size: 15px;
  }

  .caption-name {
    font-size: 34px;
  }

  .caption-btn::before,
  .caption-btn::after {
    width: 30px;
    height: 9px;
  }

  .caption-btn::after {
    left: 19px;
  }

  .title {
    font-size: 30px;
  }

  .title::before {
    width: 15%;
  }

  .balancebike {
    padding: 40px 0;
  }

  .balancebike-foto {
    width: 100%;
  }

  .advance {
    width: 100%;
    margin-top: 20px;
  }

  .proggram {
    padding: 40px 0;
  }

  .proggram-inner {
    background-position: center;
  }

  .proggram-text {
    padding-left: 0;
  }

  .proggram-text:first-child {
    padding-bottom: 300px;
  }

  .features {
    padding: 40px 0;
  }

  .features-list {
        flex-wrap: wrap;
  }

}
